.dd-container {
	font-family: Helvetica, Arial, sans-serif;
	width: 190px;
}

.dd-container  > .check-list {
	position: absolute;
	z-index: 1;
	border: 1px solid #d8d8d8;
	background: white;
	padding: 5px;
	width: 190px;
}

.dd-header {
	display: grid;
	grid-template-columns: 80% 20%;
    border: 1px solid black;
    cursor: pointer;
}

.dd-header > .dd-arrow {
    display: flex;
    align-items: center;
    justify-content: center;
}

.dd-list-entry {
	margin: 5px;
}

.dd-list-entry input{
	margin-right: 10px;
	margin-top: 10px;
	cursor: pointer;
}

.dd-list-entry:hover{
	 background-color: lightgrey;
}

.dd-header > .dd-selected-options {
	padding-top: 5px;
	padding-left: 12px;
	cursor: pointer;
	white-space: nowrap;
  	overflow: hidden;
  	text-overflow: ellipsis;
}

/* Customize the label (the container) */
.dd-item-container {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.dd-item-container input {
	display: none;
}

.dd-list-entry label {
	padding-top: 6px;
}

.checkmark {
    position: absolute;
    top: 5px;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: white;
    border: 1px solid #d8d8d8;
}

.dd-item-container :hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.dd-item-container input:checked ~ .checkmark {
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.dd-item-container input:checked ~ .checkmark:after {
    display: block;
}


.dd-item-container input:disabled ~ .checkmark:after {
	left: 6px;
    top: 4px;
    width: 5px;
    height: 10px;
    border: solid #e5e5e5;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* Style the checkmark/indicator */
.dd-item-container .checkmark:after {
    left: 6px;
    top: 4px;
    width: 5px;
    height: 10px;
    border: solid #262626;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.show {
	display: block;
}

.hide {
	display: none;
}